In [7]:
import geopandas as gpd
import pandas as pd

data = "/Users/jay.0tist/Documents/Projects/OppoNets/Contact-Tracing-HotSpots/data/"

In [8]:
df = pd.read_csv(data + 'all.csv')
df.head()

,Unnamed: 0,objectid,State,District,st_area(sh,st_length(,geometry,Confirmed,Active,Recovered,Deceased,Zone
0,0,1,Maharashtra,Jalgaon,1.353967e+10,8.464308e+05,"POLYGON ((75.23334519067033 21.41480953559289,...",50098,5387,43426,1285,Red
1,1,2,Maharashtra,Nashik,1.771358e+10,9.720056e+05,"POLYGON ((74.13013381299649 20.86311429677081,...",82865,13676,67784,1405,Red
2,2,3,Maharashtra,Chandrapur,1.294532e+10,7.410244e+05,"POLYGON ((79.7575537026844 20.73462226435134, ...",11822,3574,8091,157,Orange
3,3,4,Maharashtra,Yavatmal,1.547940e+10,1.014942e+06,"POLYGON ((78.26132288530391 20.69734885711211,...",9472,1510,7702,260,Red
4,4,5,Maharashtra,Nanded,1.186387e+10,1.131732e+06,"POLYGON ((78.05386547119404 19.92451783594126,...",17148,4312,12390,446,Orange

In [9]:
df.columns

Index(['Unnamed: 0', 'objectid', 'State', 'District', 'st_area(sh',
       'st_length(', 'geometry', 'Confirmed', 'Active', 'Recovered',
       'Deceased', 'Zone'],
      dtype='object')

In [43]:
df['District'].replace({
    'Nashik': 'Nasik',
    'Kalaburagi': 'Gulbarga',
    'Bagalkote': 'Bagalkot',
    'Prakasam': 'Ongole',
    'South Goa': 'Margao',
    'S.P.S. Nellore': 'Nellore',
    'Dakshina Kannada': 'Mangalore',
    'Thoothukkudi': 'Tuticorin',
    'Dakshin Bastar Dantewada': 'Dantewara'
}, inplace=True)

In [35]:
# df = df.drop(columns = ['Unnamed: 0', 'objectid'])
df = df[df.District != 'Davanagere']
df = df[df.District != 'Chikkaballapura']
df = df[df.District != 'Bengaluru Rural']
df = df[df.District != 'Bengaluru Urban']
df = df[df.District != 'Wayanad']
df = df[df.District != 'Theni']

In [6]:
import requests
import json

def get_city_opendata(city, country):
    tmp = 'https://public.opendatasoft.com/api/records/1.0/search/?dataset=worldcitiespop&q=%s&sort=population&facet=country&refine.country=%s'
    cmd = tmp % (city, country)
    res = requests.get(cmd)
    dct = json.loads(res.content)
    out = dct['records'][0]['fields']
    return out

In [44]:
population = []
for i, distr in enumerate(df['District']):
    print(i)
    print(distr)
    info = get_city_opendata(distr, 'in')
    if 'population' in info.keys():
        population.append(info['population'])
    else:
        population.append(0)

0
Jalgaon
1
Nasik
2
Chandrapur
3
Yavatmal
4
Nanded
5
Pune
6
Srikakulam
7
Visakhapatnam
8
Bidar
9
Gulbarga
10
Sangli
11
Krishna
12
Yadgir
13
Bagalkot
14
Guntur
15
East Godavari
16
Ongole
17
Kurnool
18
Gadag
19
Ballari
20
Dharwad
21
Margao
22
Nellore
23
Chitradurga
24
Udupi
25
Hassan
26
Kolar
27
Mangalore
28
Vellore
29
Chennai
30
Kancheepuram
31
Kasaragod
32
Tiruvannamalai
33
Erode
34
Kozhikode
35
Coimbatore
36
Thiruvarur
37
Thrissur
38
Idukki
39
Ernakulam
40
Madurai
41
Alappuzha
42
Kottayam
43
Pathanamthitta
44
Tuticorin
45
Kollam
46
Thiruvananthapuram
47
Kanyakumari
48
West Godavari
49
Dantewara
50
Kondagaon
51
Raipur
52
Durg
53
Thane
54
Adilabad
55
Karimnagar
56
Khammam
57
Mahabubnagar

IndexError: list index out of range

In [42]:
get_city_opendata('Dantewara', 'in')

{'city': 'dantewara',
 'country': 'in',
 'region': '37',
 'geopoint': [18.9, 81.35],
 'longitude': 81.35,
 'latitude': 18.9,
 'accentcity': 'Dantewara'}

In [14]:
len(df['District'])

721

In [30]:
population

[27796,
 0,
 328377,
 128185,
 485150,
 2935968,
 118312,
 1063293,
 204088,
 483655,
 0,
 145941,
 65381,
 97277,
 530636,
 0,
 172891,
 0,
 162583,
 0,
 0,
 0,
 0,
 138599,
 129124,
 128542,
 126452,
 0,
 0,
 0,
 0,
 53313,
 138255]