In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np
import re

data = "/Users/jay.0tist/Dropbox/data/"

In [135]:
# df = pd.read_csv(data + 'all.csv')
# df.head()

# df.columns 

# df['District'].replace({
#     'Nashik': 'Nasik',
#     'Kalaburagi': 'Gulbarga',
#     'Bagalkote': 'Bagalkot',
#     'Prakasam': 'Ongole',
#     'South Goa': 'Margao',
#     'S.P.S. Nellore': 'Nellore',
#     'Dakshina Kannada': 'Mangalore',
#     'Thoothukkudi': 'Tuticorin',
#     'Dakshin Bastar Dantewada': 'Dantewara'
# }, inplace=True)

# # df = df.drop(columns = ['Unnamed: 0', 'objectid'])
# df = df[df.District != 'Davanagere']
# df = df[df.District != 'Chikkaballapura']
# df = df[df.District != 'Bengaluru Rural']
# df = df[df.District != 'Bengaluru Urban']
# df = df[df.District != 'Wayanad']
# df = df[df.District != 'Theni']

# import requests
# import json

# def get_city_opendata(city, country):
#     tmp = 'https://public.opendatasoft.com/api/records/1.0/search/?dataset=worldcitiespop&q=%s&sort=population&facet=country&refine.country=%s'
#     cmd = tmp % (city, country)
#     res = requests.get(cmd)
#     dct = json.loads(res.content)
#     out = dct['records'][0]['fields']
#     return out

# population = []
# for i, distr in enumerate(df['District']):
#     print(i)
#     print(distr)
#     info = get_city_opendata(distr, 'in')
#     if 'population' in info.keys():
#         population.append(info['population'])
#     else:
#         population.append(0)

In [10]:
df = pd.read_csv(data + 'all_with_population.csv')
df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'Area (sq km)'], inplace=True)
df.dropna(subset = ["Population"], inplace=True)
df

,objectid,State,District,st_area(sh,st_length(,geometry,Confirmed,Active,Recovered,Deceased,Zone,Population
0,1,Maharashtra,Jalgaon,1.353967e+10,8.464308e+05,"POLYGON ((75.23334519067033 21.41480953559289,...",50098,5387,43426,1285,Red,3679936.0
1,2,Maharashtra,Nashik,1.771358e+10,9.720056e+05,"POLYGON ((74.13013381299649 20.86311429677081,...",82865,13676,67784,1405,Red,4993796.0
2,3,Maharashtra,Chandrapur,1.294532e+10,7.410244e+05,"POLYGON ((79.7575537026844 20.73462226435134, ...",11822,3574,8091,157,Orange,2071101.0
3,4,Maharashtra,Yavatmal,1.547940e+10,1.014942e+06,"POLYGON ((78.26132288530391 20.69734885711211,...",9472,1510,7702,260,Red,2077144.0
4,5,Maharashtra,Nanded,1.186387e+10,1.131732e+06,"POLYGON ((78.05386547119404 19.92451783594126,...",17148,4312,12390,446,Orange,2876259.0
...,...,...,...,...,...,...,...,...,...,...,...,...
714,719,Telangana,Jayashankar Bhupalapally,3.272979e+09,3.731757e+05,"POLYGON ((80.3431440538032 18.59811449241629, ...",1474,1474,0,0,Orange,711434.0
715,720,Telangana,Narayanpet,2.586400e+09,3.678590e+05,"POLYGON ((77.76027541371981 17.0022396856441, ...",844,843,0,1,Orange,41752.0
716,721,Arunachal Pradesh,Shi-Yomi,3.442421e+09,2.746671e+05,"POLYGON ((94.39567128468168 28.9321511263362, ...",26,2,24,0,Green,13310.0
718,723,Arunachal Pradesh,West Siang,1.749736e+09,2.368891e+05,"POLYGON ((94.50647173132498 28.34824477308008,...",640,267,373,0,Green,112272.0
720,725,Arunachal Pradesh,Kamle,1.672421e+09,2.560257e+05,"POLYGON ((93.96886324898708 27.97757855825465,...",15,11,4,0,Green,2225620.0

In [11]:
long = []
lat = []
for coords in df.geometry:    
    coord = coords.split(",")
    cmp = []
    for c in coord:
        temp = re.findall(r'\d+', c) 
        pt = np.array([temp[0]+'.'+temp[1], temp[2]+'.'+temp[3]], dtype=np.float64)
        cmp.append(pt)

    cmp = np.mean(np.array(cmp), axis=0)
    long.append(cmp[0])
    lat.append(cmp[1])

In [12]:
df['Longitude'] = long
df['Latitude'] = lat

In [13]:
df.head()

,objectid,State,District,st_area(sh,st_length(,geometry,Confirmed,Active,Recovered,Deceased,Zone,Population,Longitude,Latitude
0,1,Maharashtra,Jalgaon,1.353967e+10,8.464308e+05,"POLYGON ((75.23334519067033 21.41480953559289,...",50098,5387,43426,1285,Red,3679936.0,75.575734,20.847011
1,2,Maharashtra,Nashik,1.771358e+10,9.720056e+05,"POLYGON ((74.13013381299649 20.86311429677081,...",82865,13676,67784,1405,Red,4993796.0,74.101901,20.273616
2,3,Maharashtra,Chandrapur,1.294532e+10,7.410244e+05,"POLYGON ((79.7575537026844 20.73462226435134, ...",11822,3574,8091,157,Orange,2071101.0,79.311941,20.131755
3,4,Maharashtra,Yavatmal,1.547940e+10,1.014942e+06,"POLYGON ((78.26132288530391 20.69734885711211,...",9472,1510,7702,260,Red,2077144.0,78.088999,20.011792
4,5,Maharashtra,Nanded,1.186387e+10,1.131732e+06,"POLYGON ((78.05386547119404 19.92451783594126,...",17148,4312,12390,446,Orange,2876259.0,77.607770,19.136385

In [14]:
df.drop(columns='geometry', inplace=True)
df.head()

,objectid,State,District,st_area(sh,st_length(,Confirmed,Active,Recovered,Deceased,Zone,Population,Longitude,Latitude
0,1,Maharashtra,Jalgaon,1.353967e+10,8.464308e+05,50098,5387,43426,1285,Red,3679936.0,75.575734,20.847011
1,2,Maharashtra,Nashik,1.771358e+10,9.720056e+05,82865,13676,67784,1405,Red,4993796.0,74.101901,20.273616
2,3,Maharashtra,Chandrapur,1.294532e+10,7.410244e+05,11822,3574,8091,157,Orange,2071101.0,79.311941,20.131755
3,4,Maharashtra,Yavatmal,1.547940e+10,1.014942e+06,9472,1510,7702,260,Red,2077144.0,78.088999,20.011792
4,5,Maharashtra,Nanded,1.186387e+10,1.131732e+06,17148,4312,12390,446,Orange,2876259.0,77.607770,19.136385

In [15]:
df.Zone.replace(to_replace='Red', value=-1, inplace=True)
df.Zone.replace(to_replace='Green', value=1, inplace=True)
df.Zone.replace(to_replace='Orange', value=0, inplace=True)
df.head()

,objectid,State,District,st_area(sh,st_length(,Confirmed,Active,Recovered,Deceased,Zone,Population,Longitude,Latitude
0,1,Maharashtra,Jalgaon,1.353967e+10,8.464308e+05,50098,5387,43426,1285,-1,3679936.0,75.575734,20.847011
1,2,Maharashtra,Nashik,1.771358e+10,9.720056e+05,82865,13676,67784,1405,-1,4993796.0,74.101901,20.273616
2,3,Maharashtra,Chandrapur,1.294532e+10,7.410244e+05,11822,3574,8091,157,0,2071101.0,79.311941,20.131755
3,4,Maharashtra,Yavatmal,1.547940e+10,1.014942e+06,9472,1510,7702,260,-1,2077144.0,78.088999,20.011792
4,5,Maharashtra,Nanded,1.186387e+10,1.131732e+06,17148,4312,12390,446,0,2876259.0,77.607770,19.136385

In [16]:
df.to_csv("all_with_long_lat.csv")

In [17]:
df[:5]

,objectid,State,District,st_area(sh,st_length(,Confirmed,Active,Recovered,Deceased,Zone,Population,Longitude,Latitude
0,1,Maharashtra,Jalgaon,1.353967e+10,8.464308e+05,50098,5387,43426,1285,-1,3679936.0,75.575734,20.847011
1,2,Maharashtra,Nashik,1.771358e+10,9.720056e+05,82865,13676,67784,1405,-1,4993796.0,74.101901,20.273616
2,3,Maharashtra,Chandrapur,1.294532e+10,7.410244e+05,11822,3574,8091,157,0,2071101.0,79.311941,20.131755
3,4,Maharashtra,Yavatmal,1.547940e+10,1.014942e+06,9472,1510,7702,260,-1,2077144.0,78.088999,20.011792
4,5,Maharashtra,Nanded,1.186387e+10,1.131732e+06,17148,4312,12390,446,0,2876259.0,77.607770,19.136385

In [18]:
df[10:15]

,objectid,State,District,st_area(sh,st_length(,Confirmed,Active,Recovered,Deceased,Zone,Population,Longitude,Latitude
10,11,Maharashtra,Sangli,9.475627e+09,990449.064936,41147,7091,32774,1282,0,2583524.0,74.769068,17.138158
11,12,Andhra Pradesh,Krishna,9.576532e+09,897633.025147,30311,2733,27097,481,-1,4529009.0,80.710176,16.621238
12,13,Karnataka,Yadgir,5.776520e+09,575750.286065,9259,1045,8158,56,1,1174271.0,76.909070,16.580288
13,14,Karnataka,Bagalkot,7.147971e+09,696275.672796,11288,671,10501,116,0,1889752,75.606803,16.195918
14,15,Andhra Pradesh,Guntur,1.244717e+10,840955.608362,58106,5178,52377,551,-1,4889230.0,80.181402,16.135014

In [9]:
f = open('../weather-scrapper/datasets/Adilabad_weather.csv', 'r')

with open('../weather-scrapper/datasets/Adilabad_weather_processed.csv','w',encoding = 'utf-8') as fo:
    for line in f:
        if(re.findall("^# Date;", line)):
            fo.write(line[2:]+'\n')
        if(re.findall("^\d", line)):
            fo.write(line+'\n')

In [47]:
for dist in df.District:
    f = open(f'../weather-scrapper/datasets/{dist}_weather.csv', 'r')

    with open(f'../weather-scrapper/datasets/{dist}_weather_processed.csv','w',encoding = 'utf-8') as fo:
        for line in f:
            if(re.findall("^# Date;", line)):
                fo.write(line[2:-1]+'\n')
            if(re.findall("^\d", line)):
                fo.write(line[:-1]+'\n')

In [51]:
temp = []
rel_humidity = []
pressure = []
wind_spd = []
wind_dir = []
rainfall = []
snowfall = []
snow_depth = []
sw_irradiation = []

for dist in df.District:
    print(dist)
    df_fg = pd.read_csv(f'../weather-scrapper/datasets/{dist}_weather_processed.csv', delimiter=';')
    temp.append(df_fg.Temperature[0])
    rel_humidity.append(df_fg['Relative Humidity'][0])
    wind_spd.append(df_fg['Wind speed'][0])
    pressure.append(df_fg.Pressure[0])
    wind_dir.append(df_fg['Wind direction'][0])
    rainfall.append(df_fg.Rainfall[0])
    snowfall.append(df_fg.Snowfall[0])
    snow_depth.append(df_fg['Snow depth'][0])
    sw_irradiation.append(df_fg['Short-wave irradiation'][0])

Jalgaon
Nashik
Chandrapur
Yavatmal
Nanded
Pune
Srikakulam
Visakhapatnam
Bidar
Kalaburagi
Sangli
Krishna
Yadgir
Bagalkot
Guntur
East Godavari
Prakasam
Kurnool
Gadag
Ballari
Dharwad
South Goa
Sri Potti Sri Ramulu Nellore
Chitradurga
Davanagere
Udupi
Chikballapur
Hassan
Kolar
Bengaluru Rural
Dakshina Kannada
Bengaluru Urban
Vellore
Chennai
Kanchipuram
Kasaragod
Tiruvannamalai
Wayanad
Erode
Kozhikode
Coimbatore
Tiruvarur
Thrissur
Idukki
Ernakulam
Madurai
Theni
Alappuzha
Kottayam
Pathanamthitta
Thoothukudi
Kollam
Thiruvananthapuram
Kanniyakumari
West Godavari
Dantewada
Kondagaon
Raipur
Durg
Thane
Adilabad
Karimnagar
Khammam
Mahabubnagar
Nalgonda
Subarnapur
Cuttack
Kandhamal
Khordha
Jagatsinghapur
Ahmednagar
Mumbai City
North Goa
Perambalur
Tiruppur
Hyderabad
Dharmapuri
Jangaon
Mancherial district
Medchal–Malkajgiri
Burhanpur
Wardha
Buldhana
Valsad
Akola
Gadchiroli
Hingoli
Vizianagaram
Latur
Solapur
Satara
Ratnagiri
Kolhapur
Belagavi
Raichur
Koppal
Uttara Kannada
Haveri
Anantapur
Shivamogga
Chikkamagaluru
Kodagu
Dharmapuri
Chamarajanagar
Salem
Malappuram
Tiruchirappalli
Palakkad
Thanjavur
Karur
Tirunelveli
Bhadrak
Dhenkanal
Jajpur
Kalahandi
Puri
Koraput
Malkangiri
Tiruvallur
Krishnagiri
Nilgiris
Namakkal
Ariyalur
Dindigul
Virudhunagar
Kamareddy
Mahabubabad
Medak
Nagarkurnool
Gondia
Bhandara
Mahasamund
Nuapada
Balangir
Boudh
Washim
Jalna
Nayagarh
Kanker
Nabarangpur
Rayagada
Narayanpur
Parbhani
Beed
Osmanabad
Sindhudurg
Bastar
Gariaband
Mulugu
Jogulamba Gadwal
Kumarambheem Asifabad
Nizamabad
Siddipet
Suryapet
Warangal Urban
Palghar
Kadapa
Tumakuru
Chittoor
Mysuru
Viluppuram
Kannur
Pudukkottai
Sivaganga
Churu
Jhajjar
Bareilly
Pilibhit
West Delhi
East Delhi
Central Delhi
Gautam Buddha Nagar
Lakhimpur Kheri
Gurugram
Faridabad
Rewari
Nuh
Sikar
Alwar
Dibrugarh
Aligarh
Jaipur
Jodhpur
Bharatpur
Nagaur
Farrukhabad
West Champaran
Siddharthnagar
Maharajganj
Sonitpur
Darjeeling
Dausa
Lucknow
Basti
Gorakhpur
Nagaon
East Champaran
Barmer
Morigaon
Kamrup
Bongaigaon
Sitamarhi
Nirmal
Peddapalli
Ranga Reddy
Sangareddy
Vikarabad
South 24 Parganas
South Andaman
Puducherry
Nagapattinam
Bhadradri Kothagudem
Agra
Jalpaiguri
Amreli
Mandya
Balod
Amroha
Upper Subansiri
Hapur District
North Delhi
Bulandshahr
South West Delhi
South Delhi
Jhunjhunu
Tinsukia
Mahendragarh
Budaun
Jaisalmer
Bahraich
Shahjahanpur
Palwal
Changlang
Tawang
Papum Pare
Kasganj
Mathura
Lakhimpur
Shrawasti
Sitapur
Hathras
Etah
Hardoi
Sivasagar
Jorhat
Firozabad
Mainpuri
Gonda
Golaghat
Barabanki
Kushinagar
Mokokchung
Udalguri
Chirang
Sant Kabir Nagar
Karauli
Unnao
Darrang
Dholpur
Tuensang
Kanpur Nagar
Auraiya
Barpeta
Morena
Faizabad
Nalbari
Kanpur Dehat
Bhind
Sawai Madhopur
Deoria
Tonk
Rajanna Sircilla
Warangal Rural
Yadadri Bhuvanagiri
Kendrapara
Dadra and Nagar Haveli
Ganjam
Cuddalore
Ramanathapuram
North East Delhi
New Delhi
Wanaparthy
Angul
Dang
Dhamtari
Gajapati
North and Middle Andaman
Ramanagara
Nicobars
Anjaw
Dhemaji
Tirap
Mon
Longleng
Kannauj
Baksa
Kokrajhar
Etawah
Sultanpur
Pali
Kamrup Metropolitan
Azamgarh
Gwalior
Ballia
Samastipur
Bundi
Katihar
Kota
Allahabad
Varanasi
Darbhanga
Baran
Udaipur
Rewa
Nawada
Gaya
Jhalawar
Pakur
Mandsaur
Munger
Aizawl
Deoghar
Palamu
Chatra
Sipahijala
Vidisha
Mehsana
Dungarpur
Dhanbad
Bokaro
Ramgarh
Bhopal
Ujjain
Ahmedabad
Ranchi
Hooghly
Indore
East Singhbhum
Vadodara
Howrah
West Nimar
Bharuch
Janjgir - Champa
Amravati
Surat
Nagpur
Koderma
Hazaribagh
Begusarai
Bhagalpur
Patna
Saran
Siwan
Muzaffarpur
Madhepura
Supaul
Madhubani
Surajpur
Baloda Bazar
Surguja
Ghaziabad
West Tripura
South East Delhi
Ajmer
Chhatarpur
Sabarkantha
Kutch
Rajkot
Kheda
Bhavnagar
Kishanganj
Jamnagar
Leh
Anantnag
Srinagar
Pulwama
Jammu
Kangra
Hoshiarpur
Amritsar
Shimla
Jalandhar
Rupnagar
Dehradun
Sahibzada Ajit Singh Nagar
Faridkot
Fatehgarh Sahib
Sangrur
Barnala
Bathinda
Patiala
Ganganagar
Haridwar
Kaithal
Sirsa
Hanumangarh
Karnal
Fatehabad
Muzaffarnagar
Hisar
Nainital
Panipat
Udham Singh Nagar
Baghpat
Meerut
Bikaner
Rampur
Rohtak
Pathankot
Panchkula
Ambala
Aurangabad
Balrampur
Raigad
Raigarh
Bilaspur
Bilaspur
Karaikal
Navsari
Sukma
Malda
Imphal West
Birbhum
Nadia
Purba Bardhaman
North 24 Parganas
Paschim Medinipur
Kolkata
Purba Medinipur
Sundargarh
Balasore
Biswanath
Paschim Bardhaman
Uttar Dinajpur
Chandigarh
Bijnor
Daman
Mumbai Suburban
Gopalganj
Ambedkar Nagar
Jalaun
Goalpara
Sheopur
Mau
Fatehpur
Jaunpur
Bhilwara
West Khasi Hills
Senapati
Jalor
Jhansi
Shivpuri
Banda
Tamenglong
Ghazipur
Kaushambi
Bhojpur
Buxar
Tikamgarh
Sirohi
Chitrakoot
Chandauli
Sant Ravidas Nagar
Cachar
Rohtas
Godda
Mirzapur
Lalitpur
Karimganj
Neemuch
Bishnupur
Satna
Guna
Chandel
Churachandpur
Ashoknagar
Banaskantha
Murshidabad
Sonbhadra
Kolasib
North Tripura
Giridih
Mamit
Singrauli
Sidhi
Dhalai
Garhwa
Sagar
Champhai
Patan
Damoh
Shajapur
Rajgarh
Jamtara
Katni
Banswara
Gomati
Latehar
Ratlam
Serchhip
Gandhinagar
Raisen
Lunglei
Purulia
Sehore
Panchmahal
Jabalpur
Dahod
Dewas
Anuppur
Jhabua
Khunti
Narsinghpur
Dhar
Saraikela-Kharsawan
Mandla
Hoshangabad
West Singhbhum
Chhindwara
Harda
East Nimar
Porbandar
Balaghat
Narmada
Barwani
Wokha
Phek
Saiha
Lawngtlai
Kohima
Dimapur
Lohit
Lower Subansiri
Vaishali
Nalanda
Araria
Purnia
Aravalli
Botad
Chhota Udaipur
Mahisagar
Gir Somnath
Amethi
West Jaintia Hills
South Tripura
North West Delhi
Sambhal
Charkhi Dadri
Thoubal
Ukhrul
Alipurduar
Datia
Rajsamand
Mahoba
Chittorgarh
Panna
Surendranagar
Anand
Betul
Junagadh
Devbhoomi Dwarka
Morbi
Kupwara
Bandipora
Baramulla
Ganderbal
Budgam
Punch
Shopian
Kulgam
Rajouri
Ramban
Doda
Chamba
Kathua
Gurdaspur
Kullu
Mandi
Una
Tarn Taran
Solan
Shahid Bhagat Singh Nagar
Fazilka
Moga
Ludhiana
Chamoli
Sirmaur
Tehri Garhwal
Sri Muktsar Sahib
Rudraprayag
Pithoragarh
Yamunanagar
Saharanpur
Mansa
Kurukshetra
Bageshwar
Pauri Garhwal
Almora
Jind
Champawat
Sonipat
Moradabad
Bhiwani
Shamli
Firozpur
Samba
Kapurthala
Balrampur
Vijayapur
Hamirpur
Hamirpur
Pratapgarh
Pratapgarh
Mahe
Diu
Rae Bareli
Ribhoi
Kamjong
East Jaintia Hills
East Khasi Hills
Dakshin Dinajpur
Kakching
Bankura
Mayurbhanj
Kendujhar
Jharsuguda
Bargarh
Shahdara
Hojai
Imphal East
Kalimpong
Jhargram
Cooch Behar
Uttarkashi
Sambalpur
Lakshadweep
Sheohar
Dhubri
Kiphire
Dima Hasao
Peren
South Garo Hills
Khagaria
Saharsa
Sahibganj
Kaimur
Hailakandi
Jamui
Banka
Dumka
Shahdol
Umaria
Koriya
Lohardaga
Gumla
Dindori
Jashpur
Korba
Seoni
Simdega
Alirajpur
Kabeerdham
Nandurbar
Bemetara
Rajnandgaon
Dhule
Tapi
Zunheboto
West Garo Hills
East Garo Hills
East Siang
Kurung Kumey
East Kameng
West Kameng
Lakhisarai
Sheikhpura
Arwal
Jehanabad
Mungeli
Agar Malwa
South West Khasi Hills
North Garo Hills
South West Garo Hills
Khowai
Unakoti
Charaideo
Majuli
South Salmara-Mankachar
Karbi Anglong
West Karbi Anglong
Namsai
Longding
Jiribam
Pherzawl
Deogarh
Kargil
Kishtwar
Reasi
Lahaul and Spiti
Kinnaur
Upper Siang
Lower Siang
Dibang Valley
Lower Dibang Valley
Siang
Udhampur
Aurangabad
Bijapur
Yanam
Niwari
Jayashankar Bhupalapally
Narayanpet
Shi-Yomi
West Siang
Kamle

In [52]:
df['Temperature'] = temp

df['Relative Humidity'] = rel_humidity

df['Pressure'] = pressure

df['Wind speed'] = wind_spd

df['Wind direction'] = wind_dir

df['Rainfall'] = rainfall

df['Snowfall'] = snowfall

df['Snow Depth'] = snow_depth

df['Short-wave irradiation'] = sw_irradiation

In [64]:
df.head(), df.columns

(   objectid        State    District    st_area(sh    st_length(  Confirmed  \
 0         1  Maharashtra     Jalgaon  1.353967e+10  8.464308e+05      50098
 1         2  Maharashtra      Nashik  1.771358e+10  9.720056e+05      82865
 2         3  Maharashtra  Chandrapur  1.294532e+10  7.410244e+05      11822
 3         4  Maharashtra    Yavatmal  1.547940e+10  1.014942e+06       9472
 4         5  Maharashtra      Nanded  1.186387e+10  1.131732e+06      17148

    Active  Recovered  Deceased  Zone  ...   Latitude  Temperature  \
 0    5387      43426      1285    -1  ...  20.847011       308.37
 1   13676      67784      1405    -1  ...  20.273616       304.67
 2    3574       8091       157     0  ...  20.131755       309.31
 3    1510       7702       260    -1  ...  20.011792       309.29
 4    4312      12390       446     0  ...  19.136385       308.89

    Relative Humidity  Pressure  Wind speed  Wind direction  Rainfall  \
 0              23.87    966.23        4.70          315.61  0.001023
 1              39.49    946.62        3.85          299.27  0.016242
 2              23.72    979.54        0.56          279.09  0.000001
 3              20.82    969.33        1.24          300.10  0.000001
 4              22.19    961.30        0.42          358.68  0.000028

    Snowfall  Snow Depth  Short-wave irradiation
 0       0.0         0.0                7387.116
 1       0.0         0.0                6881.692
 2       0.0         0.0                7552.757
 3       0.0         0.0                7178.965
 4       0.0         0.0                6800.252

 [5 rows x 22 columns],
 Index(['objectid', 'State', 'District', 'st_area(sh', 'st_length(',
        'Confirmed', 'Active', 'Recovered', 'Deceased', 'Zone', 'Population',
        'Longitude', 'Latitude', 'Temperature', 'Relative Humidity', 'Pressure',
        'Wind speed', 'Wind direction', 'Rainfall', 'Snowfall', 'Snow Depth',
        'Short-wave irradiation'],
       dtype='object'))

In [62]:
df.to_csv('districts_complete.csv')

In [67]:
drop_col = ['State', 'objectid', 'District', 'Latitude', 'Longitude']
df.drop(columns=drop_col, inplace=True)

In [68]:
df.to_csv('districts_without_ID.csv')